<div class="forgot-password-page" >
	<img src="assets/images/logo.png" width="150px" class="user-avatar" />
	<h1> AFFINE CENTRALIZED INFORMATION SYSTEM </h1>
	<div class="row">
		<div class="col-md-4 push-md-4 forgot-password-container">

			<form novalidate role="form" #f="ngForm" (ngSubmit)="f.valid && onPasswordReset(f.value)">
				<h6> FORGOT YOUR  PASSWORD ? </h6>
				<p>Don't worry. Just tell us your details.</p>
				<div class="form-content">
					<div class="form-group">
						<input type="text" name="username" [(ngModel)]="username" #un="ngModel"
						class="form-control input-lg" placeholder="Employee ID"
						required forbiddenName="" pattern="[A-Za-z0-9]+" />
						<div *ngIf="un.invalid && (un.dirty || un.touched)" class="alert alert-danger">
							<div *ngIf="un.errors.required">
								Employee ID is required.
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="email" name="email" [(ngModel)]="email" #mail="ngModel"
						class="form-control input-lg" placeholder="Affine email address"
						required forbiddenName="" required/>
						<div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
							<div *ngIf="mail.errors.required">
								Email address is required.
							</div>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary reset-button" > RESET PASSWORD </button>

			</form>

			<div class="form-group">
				<a href="#/login" class="login">Back to LOGIN</a>
			</div>

		</div>
	</div>
</div>
